---
# yaml-language-server: $schema=https://raw.githubusercontent.com/helm-unittest/helm-unittest/main/schema/helm-testsuite.json
suite: vaultDynamicSecrets values
templates:
  - common.yaml
values:
  - ../_values/vaultdynamicsecret_main_default.yaml
  - ../_values/controllers_main_default_container.yaml

tests:
  - it: a vaultDynamicSecrets is not created when disabled
    set:
      vaultDynamicSecrets:
        main:
          enabled: false
    asserts:
      - hasDocuments:
          count: 1

  - it: a vaultDynamicSecrets is created by default
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name
        equal:
          path: metadata.name
          value: release-name

  - it: forceRename correctly sets vaultDynamicSecrets name & destination name
    set:
      vaultDynamicSecrets:
        main:
          forceRename: new-name
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: new-name
        equal:
          path: metadata.name
          value: new-name
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: new-name
        equal:
          path: spec.destination.name
          value: new-name

  - it: alwaysAppendIdentifierToResourceName correctly appends name & destination name
    set:
      global:
        alwaysAppendIdentifierToResourceName: true
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name-main
        equal:
          path: metadata.name
          value: release-name-main
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name-main
        equal:
          path: spec.destination.name
          value: release-name-main

  - it: multiple vaultDynamicSecrets are created when different keys are enabled (Merges default key loaded from default.yaml)
    set:
      vaultDynamicSecrets:
        test:
          mount: default
          path: creds/database-role
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name-main
        equal:
          path: metadata.name
          value: release-name-main
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name-test
        equal:
          path: metadata.name
          value: release-name-test

  - it: a vaultDynamicSecrets is created and populated with destination and roll out restart targets
    set:
      vaultDynamicSecrets:
        main:
          rolloutRestartControllers:
            - main
    asserts:
      - hasDocuments:
          count: 2
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name
        equal:
          path: metadata.name
          value: release-name
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name
        equal:
          path: spec.destination.name
          value: release-name
      - documentSelector:
          path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
          value: release-name
        equal:
          path: spec.rolloutRestartTargets[0]
          value:
            name: release-name
            kind: Deployment
