[env]
_.python.venv = { path = ".venv", create = true }
JUST_UNSTABLE = "1"

[settings]
experimental = true
pipx_uvx = true
python.uv_venv_auto = true

[tools]
python = "3.14.2"                    # Required for documentation generation
rust = "1.92.0"                      # Required for schematools
uv = 'latest'
"aqua:casey/just" = "1.45.0"
"aqua:google/yamlfmt" = "0.20.0"
"aqua:helm" = "3.19.4"
"aqua:helm/chart-testing" = "3.14.0"
"aqua:mikefarah/yq" = "4.50.1"
"cargo:schematools-cli" = "0.22.0"
"pipx:yamllint" = "1.37.1"
"pipx:yamale" = "6.1.0"

[hooks]
postinstall = '''
    if [ "${CI:-}" = "true" ]; then
      echo "mise postinstall: skipping in CI"
      exit 0
    fi

    # Local-only path
    if [ ! -d ".venv" ]; then
      echo "mise postinstall: .venv not present yet, skipping"
      exit 0
    fi

    . .venv/bin/activate
    uv pip install --upgrade -r {{config_root}}/docs/requirements.txt
'''
