---
# yaml-language-server: $schema=https://raw.githubusercontent.com/helm-unittest/helm-unittest/main/schema/helm-testsuite.json
suite: vaultStaticSecrets values
templates:
  - common.yaml
values:
  - ../_values/vaultstaticsecret_main_default.yaml
  - ../_values/controllers_main_default_container.yaml

tests:
  - it: a VaultStaticSecret is not created when disabled
    set:
      vaultStaticSecrets:
        main:
          enabled: false
    asserts:
      - hasDocuments:
          count: 1

  - it: a VaultStaticSecret is created by default
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name
        equal:
          path: metadata.name
          value: release-name

  - it: forceRename correctly sets VaultStaticSecret name & destination name
    set:
      vaultStaticSecrets:
        main:
          enabled: true
          forceRename: new-name
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: new-name
        equal:
          path: metadata.name
          value: new-name
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: new-name
        equal:
          path: spec.destination.name
          value: new-name

  - it: alwaysAppendIdentifierToResourceName correctly appends name & destination name
    set:
      global:
        alwaysAppendIdentifierToResourceName: true
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name-main
        equal:
          path: metadata.name
          value: release-name-main
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name-main
        equal:
          path: spec.destination.name
          value: release-name-main

  - it: multiple VaultStaticSecrets are created when different keys are enabled (Merges default key loaded from default.yaml)
    set:
      vaultStaticSecrets:
        test:
          enabled: true
          path: test
          mount: kv
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name-main
        equal:
          path: metadata.name
          value: release-name-main
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name-test
        equal:
          path: metadata.name
          value: release-name-test

  - it: a VaultStaticSecret is created and populated rolloutRestartControllers to create a rolloutRestartTargets for (deployments & stateful sets)
    set:
      vaultStaticSecrets:
        main:
          rolloutRestartControllers:
            - main
    asserts:
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name
        equal:
          path: metadata.name
          value: release-name
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name
        equal:
          path: spec.destination.name
          value: release-name
      - documentSelector:
          path: $[?(@.kind == "VaultStaticSecret")].metadata.name
          value: release-name
        equal:
          path: spec.rolloutRestartTargets[0]
          value:
            name: release-name
            kind: Deployment
