---
# yaml-language-server: $schema=https://raw.githubusercontent.com/helm-unittest/helm-unittest/main/schema/helm-testsuite.json
suite: secret - VaultDynamicSecret - rolloutRestartTargets
templates:
  - common.yaml
values:
  - ../_values/controllers_main_default_container.yaml
  - ../_values/vaultdynamicsecret_main_default.yaml
tests:
  - it: should populate rolloutRestartTargets from rolloutRestartControllers
    set:
      vaultDynamicSecrets:
        main:
          rolloutRestartControllers:
            - main
    documentSelector:
      path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
      value: release-name
    asserts:
      - equal:
          path: spec.rolloutRestartTargets[0].kind
          value: Deployment
      - equal:
          path: spec.rolloutRestartTargets[0].name
          value: release-name

  - it: unknown controllers should be skipped
    set:
      vaultDynamicSecrets:
        main:
          rolloutRestartControllers:
            - not-a-controller
    documentSelector:
      path: $[?(@.kind == "VaultDynamicSecret")].metadata.name
      value: release-name
    asserts:
      - notExists:
          path: spec.rolloutRestartTargets
